{% from "macros.html" import render_index, bind_modal_triggers %}

{% extends "index.html" %}

{% block main %}
<div class="StockItemsList index-table">
  {% set dict = {
    'kind': { 'Weapon': 'Arma', 'Ammo': 'Munição', 'Accessory': 'Acessório' }
  } %}
  {% set attributes = [
    { 'label': 'Tipo', 'key': 'kind' },
    { 'label': 'Descrição', 'key': 'item.description' },
    { 'label': 'Quantidade', 'key': 'quantity' }
  ] %}
  {{render_index('estoques/' + id + '/items', attributes, items, dict)}}
</div>
{% endblock %}
