<!DOCTYPE html>
<html>
<head>
  <meta charset="iso-8859-1" />
  <title>Reserva</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  {% block css %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>

<body>
  <main class="main">{% block main %}{% endblock %}</main>
  {% block script %}{% endblock %}
</body>
</html>
