.LogoEscudo {
  text-align: center;
  margin: auto;
  width: 400px;
  font-size: 32px;
  text-shadow: 2px 2px 4px #000;
}

  .LogoEscudo img {
    width: 280px;
  }

.LoginForm {
  margin: 24px auto;
  width: 320px;
  background-color: rgba(0, 0, 0, .26);
}
