{% from "macros.html" import delete_modal, bind_modal_triggers %}

{% extends "index.html" %}

{% block css %}
  <link rel="stylesheet" href="/css/user.css" />
{% endblock %}

{% block main %}
<div class="UserList">
  {{delete_modal("Tem certeza que deseja remover o usuário?")}}
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Usuário</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td class="editing-buttons">
            <a href="/usuarios/{{user.id}}/editar" class="material-icons">mode_edit</a>
            <a
              class="modal-trigger material-icons"
              href="#"
              data-url="/usuarios/{{user.id}}"
              data-toggle="modal"
              data-target="#modal"
            >
              delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-success floating" href="/usuarios/novo">+</a>
</div>
{% endblock %}

{% block script %}
{{bind_modal_triggers("/usuarios")}}
{% endblock %}
