{% from "macros.html" import bind_patch_action %}

{% extends "index.html" %}

{% block main %}
  <div class="EditVeteran card">
    <h4 class="card-header">Editar militar</h4>
    <div class="card-body">
      <form id="updateVeteran" action="/militares/{{id}}">
        {% include "./_form.html" %}
        <button class="btn btn-success btn-block">Atualizar</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ bind_patch_action("updateVeteran", "/militares") }}
{% endblock %}
