{% from "macros.html" import bind_patch_action %}

{% extends "index.html" %}

{% block main %}
  <div class="EditWeapon card">
    <h4 class="card-header">Editar armamento</h4>
    <div class="card-body">
      <form id="updateWeapon" action="/armamentos/{{id}}">
        {% include "./_form.html" %}
        <button class="btn btn-success btn-block">Atualizar</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ bind_patch_action("updateWeapon", "/armamentos") }}
{% endblock %}
