<div class="form-group mandatory">
  <select name="veteran" class="form-control">
    <option disabled {{"selected" if not veteran.id else ""}}>Militar</option>
    {% for iVeteran in veterans %}
      <option value="{{iVeteran.id}}" {{"selected" if iVeteran.id == veteran.id else ""}}>
        {{iVeteran.nickname}}
      </option>
    {% endfor %}
  </select>
</div>

{% for stock in stocks %}
  <h4>{{stock.description}}</h4>
  {% for iItem in stock.items %}
    <div class="form-group form-inline">
      <label>
        {{kinds[iItem.kind | upper]}} - {{iItem.item.description or iItem.item.model}}
      </label>
      <select name="items" class="form-control">
        {% for i in range(iItem.quantity + 1) %}
          <option value="{{stock.id}}|{{iItem.kind}}|{{iItem.item.id}}|{{i}}">
            {{i}}
          </option>
        {% endfor %}
      </select>
    </div>
  {% endfor %}
{% endfor %}
