{% from "macros.html" import bind_patch_action %}

{% extends "index.html" %}

{% block main %}
  <div class="EditLoadout card">
    <h4 class="card-header">Atualizar cautela</h4>
    <div class="card-body">
      <form id="updateLoadout" action="/cautelas/{{id}}">
        {% include "./_form.html" %}
        <button class="btn btn-success btn-block">Atualizar</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ bind_patch_action("updateLoadout", "/cautelas") }}
{% endblock %}
