/* Consts */

.bgcolor-DarkGreen {
    background-color: #0f3e1f;
}


body {
    background-image: url("../images/MilitaryBG.jpg");
    background-color: #0f3e1f;
    color: yellowgreen;
}

.LogoEscudo {
    margin: auto;
    width: 400px;
    /*border: solid;*/
}

    .LogoEscudo img {
        width: 100%;
    }

    .LogoEscudo p {
        text-align: center;
        font-size: 40px;
        text-shadow: 2px 2px 4px #000000;
    }

#LoginForm {
    margin: auto;
    margin-top: 50px;
    width: 250px;
    height: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: #0b2815;
    border: solid;
    border-width: 2px;
    border-color: black;
}

    #LoginForm .Titulo {
        text-align: center;
        font-size: 25px;
        margin: 5px;
    }

    #LoginForm .VerticalElement {
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 90%;
        height: 30px;
        /*background-color: darkgray;*/
    }

        #LoginForm .VerticalElement a {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            color: black;
            height: 100%;
            width: 100%;
            background-color: gray;
        }

            #LoginForm .VerticalElement a:hover {
                background-color: white;
            }
